<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>San Escobar</title>
    <link rel="stylesheet" th:href="@{/css/uikit.min.css}">
    <link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">

    <script th:src="@{/js/uikit.min.js}"></script>
    <script th:src="@{/js/uikit-icons.min.js}"></script>
    <script th:src="@{/js/fontawesome.min.js}"></script>
</head>
<body>
<div class="uk-container uk-container-large">

<nav th:fragment="nav" class="uk-navbar-container uk-navbar-transparent uk-background-muted" >
    <div class="uk-navbar-left uk-margin-top uk-flex" style="background-color: #3399ff">
        <ul class="uk-navbar-nav">
            <h1 class="uk-card-title uk-heading-medium"><i class="fa-brands fa-d-and-d "></i> San Escobar</h1>
        </ul>
        <ul class="uk-navbar-nav">
            <h3 class="uk-card-title uk-margin-left"><i class="fa-brands fa-fort-awesome"></i> Nazwa miejscowości: </h3>
        </ul>
        <ul class="uk-navbar-nav">
            <h3 class="uk-card-title uk-margin-left"><i class="fa-solid fa-litecoin-sign"></i> Posiadane pieniądze: <i class="fa-solid fa-coins"></i></h3>
        </ul>
        <ul class="uk-navbar-nav">
            <h3 class="uk-card-title uk-margin-left"><i class="fa-solid fa-hourglass-empty"></i> Tura </h3>
        </ul>
        <ul class="uk-navbar-nav">
            <h3 class="uk-card-title uk-margin-left"> <i class="fa-solid fa-scale-balanced"></i> Posiadani kupcy </h3>
        </ul>
    </div>
</nav>

    <div class="uk-section">
        <div class="uk-container uk-container-xlarge">
            <div class="uk-cover-container uk-height-max-large uk-margin-small">
                <ul class="uk-navbar-nav">
                    <h1 class="uk-card-title"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias assumenda consectetur deleniti deserunt dolor dolore dolores, doloribus dolorum earum eligendi eos est eum expedita fugit illum in inventore iure iusto minima molestias natus nesciunt optio perferendis perspiciatis placeat possimus praesentium provident quisquam quod repellendus suscipit ullam ut? Aut, ipsam.</h1>
                </ul>
                <ul class="uk-navbar-nav">
                    <h1 class="uk-card-title"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci assumenda autem beatae commodi culpa cupiditate dicta ducimus enim eos est et exercitationem expedita explicabo fuga in laborum magni modi natus nemo nesciunt nobis officiis perspiciatis possimus provident quis recusandae, reiciendis sint sit tempore ullam unde vel velit voluptas voluptatibus.</h1>
                </ul>
            </div>
        </div>
    </div>
</div>

</div>

</body>
</html>