<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>San Escobar</title>
    <link rel="stylesheet" th:href="@{/css/uikit.min.css}">
    <link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{../static/css/css.css}">
    <script th:src="@{/js/uikit.min.js}"></script>
    <script th:src="@{/js/uikit-icons.min.js}"></script>
    <script th:src="@{/js/fontawesome.min.js}"></script>
</head>
<body >
<div class="uk-section uk-background-cover uk-section-default" data-src="https://mh-1-agencja-fotograficzna.panthermedia.net/media/media_detail/0004000000/04299000/~stary-papier-lub-pergamin_04299727_detail.jpg" uk-img>


    <div class="uk-container uk-container-large uk-flex-row uk-margin-auto-left uk-margin-auto-right" uk-grid>
        <div class="uk-container uk-width-1-6">
            <h1 class="uk-card-title uk-heading-medium uk-position-center uk-position-relative"><i class="fa-brands fa-d-and-d fa-3x "></i> </h1>
        </div>

        <div class="uk-container uk-width-5-6 flex-box uk-text-center">
            <h1>San Escobar</h1>
        </div>
    </div>



</div>

</body>
</html>

<