<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="UTF-8">
    <title>Pizza Market</title>
    <link rel="stylesheet" th:href="@{/css/uikit.min.css}">
    <link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">

    <script th:src="@{/js/uikit.min.js}"></script>
    <script th:src="@{/js/uikit-icons.min.js}"></script>
    <script th:src="@{/js/fontawesome.min.js}"></script>
</head>
<body>
<img th:src="@{/img/pergamin.jpg}" alt="">
<div class="uk-container uk-container-large">
    <div class="uk-background-cover uk-background-image@s">
        <img th:src="@{/img/pergamin.jpg}" alt="">
    </div>

    <div class="uk-section">
        <div class="uk-container uk-container-xsmall uk-container">
            <article class="uk-article uk-margin-small uk-text-center">
                <h1>Nazwa przysiółka</h1>
                <div class="uk-card uk-card-default uk-card-small uk-card-body">
                    <p>Podaj nazwę przysiółka, który będziesz rozbudowywać aż zostanie pełnoprawną Marchią</p>
                </div>
            </article>

        <form class="uk-grid-small" th:object="${vilages}" uk-grid>
            <div class="uk-width-1-1">
                <input class="uk-input" type="text" placeholder="Nazwa przysiółka" th:field="*{name}">
            </div>
            <div class="uk-width-1-1">
                <input type="submit" class="uk-button uk-button-primary uk-width-1-1" value="Potwierdź">
            </div>
        </form>
    </div>
    </div>

</div>

</body>
</html>