<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>San Escobar</title>
    <link rel="stylesheet" th:href="@{/css/uikit.min.css}">
    <link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">

    <script th:src="@{/js/uikit.min.js}"></script>
    <script th:src="@{/js/uikit-icons.min.js}"></script>
    <script th:src="@{/js/fontawesome.min.js}"></script>
    <style>
        .uk-section {
            background-image: url(../static/img/pergamin.jpg);
        }
    </style>
</head>
<body>

<div class="uk-section uk-background-cover uk-width-1-1 uk-section-default uk-padding-remove-top uk-margin-xlarge-top uk-margin-remove" data-src="https://mh-1-agencja-fotograficzna.panthermedia.net/media/media_detail/0004000000/04299000/~stary-papier-lub-pergamin_04299727_detail.jpg" uk-img>
    <form  th:object="${vilage}" method="post">

        <div class="uk-container uk-container-xsmall uk-container uk-margin">
            <article class="uk-article uk-margin-small uk-text-center uk-margin">
                <h1>Nazwa osady</h1>
            </article>
            <div class="uk-width-1-1">
                <input class="uk-input uk-text-center" type="text" placeholder="Podaj nazwę przysiółka, który będziesz rozbudowywać aż zostanie pełnoprawną Marchią" th:field="*{name}">
            </div>
            <article class="uk-article uk-margin-small uk-text-center uk-margin">
                <h1>Wybierz lokalizację swojej osady</h1>
            </article>
        </div>
        <div class="uk-container uk-container">

            <div class="uk-container uk-background-contain" style="height: 470px" data-src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/415b4aee-0633-43e0-90a8-b4c4581b2aea/df9fmeq-808c5fc8-83a6-47cc-81f7-1c310a618d7b.jpg/v1/fill/w_1175,h_680,q_70,strp/san_escobar_bez_ta_by_loodwikhans_df9fmeq-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzQxIiwicGF0aCI6IlwvZlwvNDE1YjRhZWUtMDYzMy00M2UwLTkwYTgtYjRjNDU4MWIyYWVhXC9kZjlmbWVxLTgwOGM1ZmM4LTgzYTYtNDdjYy04MWY3LTFjMzEwYTYxOGQ3Yi5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.K93dAbrgiuwVevr49rHFAmTFCqIs5dbXbo5Gu2dgKGw" uk-img>

                <div class="uk-overflow-auto uk-height-medium" >
                    <div id="1" class="uk-border-circle uk-button uk-button-small"  style="background-color: red; height: 30px;width: 30px ; position: absolute; right: 525px;top: 214px"></div>
                    <div class="uk-dropbar uk-dropbar-left uk-background-muted"  uk-drop="mode: hover; pos:left; stretch: x ">
                        <input class="uk-input" th:field="*{locationId}"> Najzimniejsza część kraju jednak to tu występuje najwięcej dzikiej zwierzyny oraz lasów.</div>

                    <div id="2" class="uk-border-circle uk-button uk-button-small"  style="background-color: red; height: 30px;width: 30px ; position: absolute;  right: 400px;top: 362px"></div>
                    <div class="uk-dropbar uk-dropbar-left uk-background-muted" uk-drop="mode: hover; pos:left; stretch: x">Występują tu największe różnice temperatur przez co w krajobrazie dominują stepy. Występują tu także rudy metali.</div>
                    <div id="3" class="uk-border-circle uk-button uk-button-small"  style="background-color: red; height: 30px;width: 30px ; position: absolute; right: 810px;top: 455px"></div>
                    <div class="uk-dropbar uk-dropbar-right uk-background-muted" uk-drop="mode: hover; pos:right; stretch: x">Bliskość wielkich jezior sprawia że obszar ten jest najlepiej nawodniony</div>
                    <div id="4" class="uk-border-circle uk-button uk-button-small"  style="background-color: red; height: 30px;width: 30px ; position: absolute; right: 820px;top: 605px"></div>
                    <div class="uk-dropbar uk-dropbar-top-right uk-background-muted" uk-drop="mode: hover; pos:top-right; stretch: x">Najdalsze południe. Jest tu wystarczająco wilgotno i ciepło żeby uprawiać winorośl.</div>
                    <div id="5" class="uk-border-circle uk-button uk-button-small"  style="background-color: red; height: 30px;width: 30px ; position: absolute; right: 1105px;top: 450px"></div>
                    <div class=" uk-background-muted uk-dropbar-right-top" style="width: 200px" uk-drop="pos:right-top; mode: hover;stretch: x">Stąd najbliższy transport do morza. Większość towarów przepływa tędy</div>
                </div>
            </div>

        </div>

        <div class="uk-container uk-container-small uk-flex ">
            <input type="submit" class="uk-position-bottom-center uk-button uk-button-primary uk-text-center uk-width-1-4 uk-margin-top uk-margin-bottom" value="Potwierdź">
        </div>

    </form>
</div>

<!--SELECT MAX(Id)
FROM vilage-->

</body>
</html>




