<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>San Escobar</title>
    <link rel="stylesheet" th:href="@{/css/uikit.min.css}">
    <link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">

    <script th:src="@{/js/uikit.min.js}"></script>
    <script th:src="@{/js/uikit-icons.min.js}"></script>
    <script th:src="@{/js/fontawesome.min.js}"></script>
    <style>
        .uk-section {
            background-image: url(static/img/pergamin.jpg);
        }
    </style>
</head>
<body>



    <div class="uk-section uk-background-cover uk-width-1-1 uk-section-default uk-padding-remove-top uk-margin-top">
        <div class="uk-container uk-container-xsmall uk-container">
            <article class="uk-article uk-margin-small uk-text-center uk-margin-auto">
                <h1>Nazwa osady</h1>
            </article>
        <!--/*@thymesVar id="vilage" type="jdk"*/-->
        <form class="uk-grid-small" th:object="${vilage}" uk-grid>
            <div class="uk-width-1-1">
                <!--/*@thymesVar id="name" type="gtruty"*/-->
                <input class="uk-input uk-text-center" type="text" placeholder="Podaj nazwę przysiółka, który będziesz rozbudowywać aż zostanie pełnoprawną Marchią" th:field="*{name}"  th:errorclass="uk-form-danger">
                <span th:if="${#fields.hasErrors('name')}" class="uk-text-small uk-text-danger">
                    Nazwa wsi powinna mieć długość od 2 do 30 znaków
                </span>
            </div>
        </form>

    </div>
        <div class="uk-container uk-container-small  uk-margin-top">
            <div class="uk-card uk-card-default uk-card-small uk-card-body uk-text-center">
                <p>Wybierz lokalizację swojej wioski</p>
            </div>
            <div class="uk-container uk-container-small uk-container uk-margin-top"style="background-color: #8a8a8a ;height: 400px">
            <div class="uk-container-small" style=" border-bottom-left-radius: 10px ;background-color: #f0506e"></div>
            </div>
            <div class="uk-container uk-container-small ">
                <a class="uk-position-bottom-center uk-button uk-button-primary uk-text-center uk-width-1-4 uk-margin-top" th:href="@{/gameView.html}">Potwierdź</a>
            </div>
        </div>

    </div>


</body>
</html>